* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    content: "";
    clear: both;
}

.column {
    float: left;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    overflow: scroll;
    background-color: lightgray;
}

.clear {
    clear: both;
}

.col-1 {width: 100%;}
.col-2 {width: 50%}
.med-col {height: 100px;}
.tall-col {height: 300px;}

#websiteBtn {
    background-color: green;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    align-self: flex-start;
    font-size: large;
}

h4 {
    color: black;
    padding: 0;
    margin: 10px;
}

